<div
    style="background-image: url(https://aga.live/api/files/email/bg.png); height: 1217px; width: 600px; padding: 50px 50px 100px 50px; background-repeat: no-repeat;">
    <img src="https://aga.live/api/files/email/hero@2x.png" alt="hero.png" style="margin: 0px auto;" width="500"
        height="476">
    <img src="https://aga.live/api/files/email/divider.png" alt="divider" width="500" height="1"
        style="margin: 50px 0px;">
    <img src="https://aga.live/api/files/email/items_1@2x.png" alt="items_1" width="500" height="123">
    <img src="https://aga.live/api/files/email/divider.png" alt="divider" width="500" height="1"
        style="margin: 50px 0px;">
    
    <img src="https://aga.live/api/files/email/cap@2x.png" alt="divider" width="500" height="35"
        style="margin: 50px 0px;">
    <p style="font-family: monospace; color: #11F4D1; text-align: center; width: 450px; font-size: 18px; padding: 20px 25px; border-radius: 5px; background-color: rgba(255, 255, 255, 0.05);">
        <strong>{{ code }}</strong>
    </p>
    <img src="https://aga.live/api/files/email/divider.png" alt="divider" width="500" height="1"
        style="margin: 50px 0px;">
    <img src="https://aga.live/api/files/email/pbn.png" alt="divider" width="500" height="8"
        style="margin: 50px 0px;">
</div>